//DESKTOP NAVBAR
.top-bar {
  background-color: transparent;
  font-family: $font-title;
  position: fixed;
  width: 100%;
  z-index: 1;
  &.need_background {
    @include shift;
    background-color: $dark-gray;
    border-bottom: $border-standard;
    .top-bar-left a {
      @include shift;
      @include navbar-shrink;
    }
    .top-bar-right a{
      @include shift;
      @include navbar-shrink;
    }
  }
  ul {
    background-color: transparent;
  }
  .top-bar-left {
    a {
      @include navbar-styling;
    }
  }
  .top-bar-right {
    li {
      padding-right: 30px;
      text-shadow: $font-outline;
    }
    a {
        @include navbar-styling;
      &:hover, &.active {
        @include navbar-active;
      }
    }
  }
}
//MOBILE NAVBAR
#nav-bar {
    z-index: 1;
    position: fixed;
    width: 100%;
}

// INTRO, NAME AND VIDEO
#intro {
  display: table;
  border-bottom: $border-standard;
  width: 100%;
  height: 95%;
  video#background-vid {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   -ms-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   background-size: cover;

  }
  i {
    opacity: 0;
    color: $gold;
    font-size: $font-size-title;
    position: relative;
    top: 75px;
    text-shadow: $font-outline;
    @include fade_in;
    @include delay;
  }
  .row {
    display: table-cell;
    vertical-align: middle;
    #name {
      padding-top: 100px;
      font-family: $font-paragraph;
      color: white;
      text-shadow: $font-outline;
      font-size: $font-size-nav;
      @include fade_in;
    }
    #school {
      font-family: $font-title;
      opacity: 0;
      position: relative;
      top: -50px;
      color: $gold;
      text-shadow: $font-outline;
      font-size: $font-size-intro;
      @include fade_in;
    }
  }
}

// PICTURE MODALS
#modal {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: $font-paragraph;
  color: white;
  background: $black;
  border-bottom: $border-standard;
  display: table;
  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .row {
    margin-bottom: 50px;
  }
  .column {
    margin-bottom: 25px;
  }
  img {
    border: $border-standard;
  }
  h2 {
    @include title-pos;
    font-family: $font-title;
    text-decoration: underline;
  }
  .reveal {
    background: $dark-gray;
    color: white;
    border: $border-standard;
  }
}

// ABOUT ME COLUMNS
#column {
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: $font-paragraph;
  font-size: $font-size-text;
  background-image: url("../data/pics/mountain-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: $dark-gray;
  border-bottom: $border-standard;
  color: white;
  .column {
    margin-bottom: 25px;
  }
  h1 {
    font-family: $font-paragraph;
    text-shadow: $font-outline;
  }
  h2 {
    @include title-pos;
    font-family: $font-title;
    text-decoration: underline;
  }
}

// WORK EXPERIENCE CAROUSEL
#carousel {
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: $font-paragraph;
  font-size: $font-size-text;
  padding-bottom: 25px;
  background-color: $black;
  color: white;
  .slide {
    margin-bottom: 25px;
  }
  #carousel-content {
    margin-left: 25px;
    margin-right: 25px;
  }
  img {
      display: inline-block;
      border: $border-standard;
  }
  h2 {
    @include title-pos;
    font-family: $font-title;
    text-decoration: underline;
  }
}

// SOCIAL MEDIA FOOTER
#footer {
  border-top: $border-standard;
  background: $gold;
  #footer-name {
    font-size: $font-size-text;
    font-family: $font-paragraph;
  }
  i {
    margin-right: 15px;
    color: $black;
    font-size: $font-size-icons;
  }
  .fa-facebook-square {
    color: black;
    @include shift;
    &:hover {
      color: $facebook;
    }
  }
  .fa-twitter-square {
    color: black;
    @include shift;
    &:hover {
      color: $twitter;
    }
  }
  .fa-linkedin-square {
    color: black;
    @include shift;
    &:hover {
      color: $linkedin;
    }
  }
  .fa-github-square {
    color: black;
    @include shift;
    &:hover {
      color: gray;
    }
  }
}
