$gold      : #FFCC09;
$dark-gray : #4C4C4C;
$black     : #1a1a1a;
$facebook  : #3B5998;
$twitter   : #00aced;
$linkedin  : #0077b5;

$font-title       : 'Teko', sans-serif;
$font-paragraph   : 'Share', cursive;
$font-outline     : -2px 0 $black, 0 2px $black, 2px 0 $black, 0 -2px $black;
$font-size-title  : 100px;
$font-size-intro  : 30px;
$font-size-nav    : 60px;
$font-size-text   : 20px;
$font-size-icons  : 40px;

$border-standard : 3px solid $gold;
